[2015-09-02 08:48] dragontoe opened #1 "Semver?"
Hi!

Does this library use [semantic versioning](http://semver.org)?

If semver is used it would be good if the Readme mention it.

Thanks!

[2015-09-02 13:49] kocsismate commented on #1
Hey,

Yes, it does! Thanks for the notice, I'll add versioning information later this afternoon.

Reminder: until reaching version 1.0, minor versions can (and likely will) introduce breaking changes. But according to my plans, the public API will become quite stable until version 0.7

[2015-09-02 17:17] kocsismate commented on #1
Done.

[2015-09-02 17:17] #1 closed, assigned to nobody

[2015-11-19 14:56] wecc opened #2 "Relationship not in `include` parameter nor `getDefaultRelationships()` is still being evaluated"
I'm unsure if this is the intended behavior or not but I was a bit surprised to discover that relationships returned by the transform's `getRelationships()` method are still being evaluated even though the relationship name is not present in the `include` query parameter nor in the array returned from the transform's `getDefaultRelationships()`.

I did a bit of digging and found that when a relati

[2015-11-19 19:58] kocsismate commented on #2
Hey,

Thanks for the report! This part was difficult to implement (that's why it is a bit complicated), but I think the current behaviour should be in line with the specification.

The [examples page](http://jsonapi.org/examples/) of the specification covers this topic very well: the most important part is when it mentions that relationships are fields too, so the response will contain all of them

[2015-11-19 20:33] wecc commented on #2
Thank you for your reply!

Yes, I fully understand this is a complex area of the spec :)

I agree with you. Relationships, as available under the `relationships` key of a Resource Object, should be considered fields as well. Renaming `getDefaultRelationships()` to `getDefaultIncludedRelationships()` does make sense and would have caused less confusion on my part.

I think it makes sense to always

[2015-11-19 22:39] kocsismate commented on #2
Ah, really good question! I am afraid there is no workaround for it currently, however it definitely makes sense. I'll try to come up with a good solution (or you can send a PR if you have one).

Anyway, my first idea to solve this issue is to provide an `isIncluded` argument for the anonymous functions in the `getRelationships()` method and the end user can decide upon it to add the data part or

[2015-11-20 08:22] wecc commented on #2
Got it, thanks :)

For me personally, in my current project, there's a large set of resource types and relationships and performance/lazy loading is very important due to some of our back-end systems having pretty high latency. In these cases it would be golden to be able to load them only when requested.

The `isIncluded` approach would allow for lazy loading but like you said, you would have to

[2015-11-20 22:58] kocsismate commented on #2
Yes, this was my third alternative, but I rejected it immediately as I first felt it overcomplication. But after learning about your use-case, I now think it is a viable solution!

So a `dataAsCallable()` method could be added to the relationships and as you said, it can be used along with `omitDataIfNotIncluded()`. The drawback of the solution is that users have to call two methods to perform one

[2015-11-24 20:21] kocsismate commented on #2
I've just implemented the first solution in my last commit (https://github.com/woohoolabs/yin/commit/6c8f328e2467e6b7cb08c5f09a5b2a6189e20c97), because I think the `setDataWhenIncluded()` method names wouldn't have been expressive enough. I hope that
you are OK with this!

P.S.: I am considering a bigger change in Yin: swapping the `Links` object with a plain-old PHP array because I became uncerta

[2015-11-24 21:12] wecc commented on #2
Sorry for my delayed response. I just tried out `master` and `setDataAsCallable()` solves my issue perfectly! Very appreciated, thanks a lot!

Feel free to close this issue :+1:

##

I think the current `Links` schema is pretty straight forward and provides a nice API. That said, I haven't used it enough to confidently know about the advantages/disadvantages compared to a plain array.

[2015-11-25 10:31] #2 closed, assigned to nobody

[2016-01-11 18:05] mmucklo opened #3 "Example of how to do multi-level relationship?"
Do you have any examples of how to do a multi-level includes?

For example include=comments,comments.authors?  (and have it return the right things)

The problem we're seeing is when you try to do multi-level documents it seems to break on validateRelationships -

e.g.

[code]

When CommentResourceTransformer defines a getRelationships($comment) of type "author", it seems to also get validated loo

[2016-01-12 18:57] kocsismate commented on #3
You are right, thanks for the report! The `validateRelationships` method fails indeed, and it seems like the path of the currently processed relationship (`$transformation->basePath`) doesn't get updated. So I will be working on the patch in the following days.

[2016-01-12 19:06] kocsismate commented on #3
Anyway, I added a new resource to the [book example](https://github.com/woohoolabs/yin/blob/master/examples/Book/Action/GetBookAction.php) to manually test multi-level relationships. If you set up a web server as mentioned in the Read Me, this example will be available at {{ YOURHOST }}?example=book&id=1&include=authors,publisher,publisher.representative (and it currently throws an exception).

[2016-01-13 00:22] mmucklo commented on #3
Ok thanks for the follow up...

[2016-01-15 16:50] kocsismate commented on #3
My last commit (https://github.com/woohoolabs/yin/commit/a7c6a706cc82efaebfc622625e7441c4167f3efb) hopefully fixed the bug in dev-master. Could you please confirm it? If the patch seems to be OK, I'll release version 0.10. In v0.11, I plan to increase test coverage and test quality to avoid issues like this.

[2016-01-16 01:17] mmucklo commented on #3
I think it may be fixed, but please stand by, I should know better by early next week...

[2016-01-16 08:06] kocsismate commented on #3
Take your time, I am looking forward to your response next week! But I am going to release v10 shortly, as the popularity of Yin has just "skyrocketed" in the past 2 days, doubling its stargazers, and I don't want new people to use the older version without some important fixes in dev-master. I'll release a patch version if something is still missing from my fix.

[2016-01-18 09:29] mmucklo commented on #3
Ok the main issue is fixed.  There are two "sub-issues" if you would, however I'm going to open two new issues on those.

[2016-01-18 09:29] #3 closed, assigned to nobody

[2016-01-18 09:32] kocsismate commented on #3
Thanks! I am interested in the issues!

[2016-01-18 09:35] mmucklo opened #4 "How to skip a level in a multi-level relationship"
If I want to include a sub-level but skip the intermediary level, it doesn't seem to work.

However I want to preface this with two things:
1. I may be reading the jsonapi spec incorrectly on this (I don't know if there's a good concrete example)
2. I may be misunderstanding how to use woohoolabs/yin

What I want to do in the following example is to include comments.authors, but not comments.  I'm

[2016-01-18 09:49] mmucklo opened #5 "Sparse field sets return empty arrays for null attributes (shouldn't it be empty hashes)?"
Back to the articles, comments, authors example:

What I'd like to do, for example, is to retrieve either all the body of comments on an article (but no information/attributes for the article), or all the first-names of authors on an article (again returning no attributes for the article).

According to this discussion:
http://discuss.jsonapi.org/t/clarification-on-the-sparse-fieldset-response/221

[2016-01-18 22:32] kocsismate commented on #5
I am not sure about this issue: I tested the sparse fieldset and inclusion functionality with my book example and with another project of mine, but they both worked well. I couldn't make Yin fail with any queries I came up with and it even worked with 2 level deep relationships.

Could you show me an actual query and its response? If it is not possible, could you double check your settings?

[2016-01-18 22:47] kocsismate commented on #4
The spec says the following in the "Inclusion of Related Resources" section:

So the current behaviour is a requirement of the spec.

But the next paragraph states the following:

So skipping a relationship level is only an additional functionality servers can provide. Some months ago, I tried to implement it, but it proved to be really complex. Anyway, I'll have a look at it again if I can find a

[2016-01-18 22:57] mmucklo commented on #5
Let me try to put together a test case..

[2016-01-18 22:59] mmucklo commented on #4
Ok thanks for clarifying - I suppose the best solution might be to do
sparse fieldsets on the intermediate resources then...

[2016-01-19 18:39] mmucklo commented on #5
Ok, I'll chalk this one up to user error.

However I think I may have discovered a very minor issue.

The json returned for null attributes is a null array, but in the link I referenced it seems to show null hashes:

http://discuss.jsonapi.org/t/clarification-on-the-sparse-fieldset-response/221/2

Test Url:

[code]

Response:

[code]

[2016-01-21 08:19] kocsismate commented on #4
This idea is really good indeed until the feature is implemented.

[2016-01-21 08:31] kocsismate commented on #5
I am glad that it was only user error. :)

The other issue stands because Yin uses arrays internally to store the document and `json_encode` converts empty arrays to JSON arrays. Tell me if you know a workaround for this phenomenon. :)

However, according to the discussion you linked, a possible easy fix would be to omit these keys altogether when empty. I'll implement it!

[2016-01-21 19:37] kocsismate commented on #5
I am closing the issue as the problem should be fixed in v0.10.1!  Feel free to reopen the bug if you think otherwise.

[2016-01-21 19:37] #5 closed, assigned to nobody

[2016-02-10 01:35] mmucklo opened #6 "Fatal on book-rel example"
I'm trying to run the example:

[code]

However I'm encountering a fatal:

[code]

[2016-02-10 01:36] mmucklo opened #7 "Example how to grab a sub-resource."
It seems you have examples on how to do:

/books/{id}

and

/books/{id}/relationships/authors

But not:

/books/{id}/authors

Unless I'm missing something?  Do you natively support this type of call?

[2016-02-12 15:56] kocsismate commented on #6
Good catch! :) The fix is now included in dev-master!

[2016-02-12 15:56] #6 closed, assigned to nobody

[2016-02-12 16:44] kocsismate commented on #7
I believe this type of call should be out of the scope of the project, because it's more efficient, yet really easy to implement by yourself.

When a client requests the authors of a book, you only need to get the appropriate authors from your DB and respond with a document whose primary data is the collection of the aformentioned authors.

I don't know if you have read this page, but I think it h

[2016-02-19 14:35] dimvic opened #8 "Overriding AbstractResourceTransformer->transformAttributesObject()"
Is there a reason why the methods in AbstractResourceTransformer are private? It causes some problems overriding them, for example you can't override transformAttributesObject() because it is being called elsewhere in the same scope and you need to override those private methods as well.

For the record, what I want to do is extend the class and have this:

<pre>public function getAttributes($doma

[2016-02-19 16:32] kocsismate commented on #8
I appreciate your Pull Request and I also support the idea to include the attribute name in the anonymous function. I can't really remember why I made those methods private, but probably I just didn't think anyone would override them - but it's interesting to get to know a legal use-case which needs it!

So as soon as you fix that small typo, and I'll accept your PR!

[2016-02-19 17:04] dimvic commented on #8
Thanks a lot,  I updated it, sorry about that, I only edited the file in github...

[2016-02-19 18:20] kocsismate commented on #8
OK, no problem! :) I'll release Yin 0.10.2 during the weekend with this patch.

[2016-02-19 18:20] #8 closed, assigned to nobody

[2016-02-22 22:33] dimvic opened #15 "PATCH a relationship with {"data":null}"
According to the specification issuing a `PATCH` request which includes a relationship with a `{"data":null}` body should clear the relationship, but in `HydratorTrait->hydrateRelationships()` this is found:

[code]

which results in the relationship hydrator never being called, is that intentional?

Of course one can override `hydrateRelationships()`, but shouldn't the defaults conform to the sta

[2016-02-23 22:44] kocsismate commented on #15
That's really clever! I'll look at it tomorrow!

[2016-02-24 10:40] qpautrat opened #16 "ResourceIdentifier does not consider "data" key"
Hi there,

As JSON API specification says

Correct me if i'm wrong, but [ResourceIdentifier](https://github.com/woohoolabs/yin/blob/master/src/JsonApi/Schema/ResourceIdentifier.php#L24) does not care about this `data` key.
And as we pass complete array in [Request](https://github.com/woohoolabs/yin/blob/master/src/JsonApi/Request/Request.php#L521) it results as `null`.

You can try it with this si

[2016-02-24 10:56] christophehurpeau commented on #16
:+1:

[2016-02-24 11:08] dimvic commented on #16
This type of query is exactly what's supported by the implementation though, `ResourceIdentifier` is what encapsulates the data for each relationship object, for example:

[code]

[code]

[2016-02-24 11:16] qpautrat commented on #16
I don't get it @dimvic .

`$jsonApi->getRequest()->getResourceToOneRelationship('photographer')` returns `null` and it should not.

[2016-02-24 11:38] kocsismate commented on #16
My fear is that [`$request->getResourceToOneRelationship()`](https://github.com/woohoolabs/yin/blob/master/src/JsonApi/Request/Request.php#L529) does not return any value. I have already fixed some similar issues in the past, but sometimes I just forget about the `return` statement. :D

Anyway, thanks for catching this problem! I can fix it right now, but can only assure if it really works in the

[2016-02-24 11:43] kocsismate commented on #7
@mmucklo: Did my reasoning make sense? If so, could you please close the issue? Otherwise, feel free to ask more!

[2016-02-24 21:49] #16 closed, assigned to nobody

[2016-02-24 21:51] kocsismate commented on #16
I found another bug with the aformentioned method, so I fixed it. Feel free to reopen the issue if you find it otherwise!

[2016-02-25 06:05] mmucklo commented on #7
I tested the example and it works except I think I have a question on the URL.

(BTW, I apologize my original question had some tags in it that weren't showing, fixed)

So the self: link in your example shows **"self": "/books/authors"** even though my query is **example=book-authors&book-id=1**.

Shouldn't it be (at the very least) **"/books/1/authors"**?

[2016-02-25 08:49] kocsismate commented on #7
Yes, it should definitely be at the very least "/books/1/authors"! The current URL structure is really "clunky" indeed, but only because I did not want to require users to setup their web server for a more clever routing system in order to be able to try the examples.

[2016-02-28 18:39] kocsismate commented on #15
Sorry for being late, I had other works to do during the week.

So I investigated the problem and found that you mean the [updating relationships part](http://jsonapi.org/format/#crud-updating-relationships) of the spec, and I had to realize that currently, hydrators only work well when you want to [update or create resources](http://jsonapi.org/format/#crud).

As we talked that hydrators need som

[2016-02-28 20:02] dimvic commented on #15
No prob, my pleasure :) I don't have a use case this bug affects yet, I just thought it's quite an important point in the docs that should be supported, that's why I reported it...
Eagerly waiting for 0.10.2 for now!

[2016-02-28 22:01] kocsismate commented on #7
Please have look at the [How to try it out section in the readme](https://github.com/woohoolabs/yin/blob/master/README.md#how-to-try-it-out), because I think I managed to fix the issues noted in this thread:  :)

[2016-02-29 23:13] mmucklo commented on #7
ok, I'll have to retest.  Please stand by...

[2016-02-29 23:17] mmucklo commented on #7
tested, looks good.  Thanks, I'll reopen if there's anything further regarding this issue, but for now I think we're good.

Thanks for the responses!

[2016-02-29 23:17] #7 closed, assigned to nobody

[2016-03-25 10:01] cwdt opened #18 "Sorting always happens on primary key in resource"
In the WoohooLabs\Yin\JsonApi\Schema\Data\CollectionData class a ksort is performed on the $ids.
I want to order the results the way I setup my SQL (using an 'order by') but this ksort is causing unexpected behaviour. Am I missing something?

[2016-03-27 23:57] kocsismate commented on #18
Thanks for the report! I have to say that your concerns are totally valid, this behaviour definitely needs to be fixed.

That's why in my last commit (https://github.com/woohoolabs/yin/commit/c0ede5a99a9f4ca1c7c6c2ce4e459391182a4e31) I significantly reworked how primary and included resources are stored and retrieved. Additionally, as at least 2 `ksort()` invocations are avoided when returning a c

[2016-03-28 01:14] kocsismate commented on #18
I played a little bit with Blackfire: after profiling my PHP 7 app running on Amazon ECS, the benchmarks showed ~1% improvement in wall time and ~3% in CPU time for listing 100 users with complex data. This is not bad, but let's hope for the measurement being correct. :P

[2016-03-29 06:47] cwdt commented on #18
Thanks for your quick fix, tested and works :+1:! I see positive thing happening in performance too, great!

[2016-03-29 07:34] #18 closed, assigned to nobody

[2016-03-29 07:37] kocsismate commented on #18
v0.10.4 has just been released!

[2016-03-31 16:04] qpautrat opened #19 "Injecting a SerializerInterface"
Hello Woohoolabs !
How are you ?

How do you think about instead hard coded [`json_encode()`](https://github.com/woohoolabs/yin/blob/master/src/JsonApi/Document/AbstractSuccessfulDocument.php#L148) using a `SerializerInterface` which could be injected in `Document` ?

Through this we could be able to inject any Serializer (i'm thinking about JMSSerializer right now) and use it.

Thoughts ?

[2016-03-31 17:02] qpautrat commented on #19
Nevermind. I think i have misunderstood something here.
In fact we have a multi-versioning issue.
But as our resource which will be serialized is dynamically built, it is impossible to use JMS Serializer like the way it is.
So my proposal is shit actually.
Have you already thought about it ? Instead of buid our resource with `getAttributes()` for example we can just serialize whole object and then

[2016-04-05 21:22] kocsismate commented on #19
Sorry for the delayed answer, but welcome back :)

In another project of mine, I also tried to use JMSSerializer, but I also had to take it down because of some issues.

I have been trying to imagine how your second proposal could work, but I couldn't find it out yet. :S Could you please elaborate your idea? The problem I see now is that serialization is completely based on the `ResourceTransforme

[2016-04-05 21:26] qpautrat commented on #19
Hi !
I tried it too and like you i didn't find a proper way to do it.

[2016-04-06 07:38] kocsismate commented on #19
I am closing this issue for now, but if you have any other idea, feel free to create a new ticket or reopen this one :)

[2016-04-06 07:38] #19 closed, assigned to nobody

[2016-04-28 09:22] emil-nasso opened #20 "Expressing empty relationships in the response"
In the json response format used by the current version of yin, i am running into problems that i think is caused by not following the json api specification.

The problem is in the relationships data. Lets take a look at this example:

[code]

In this case, the account-relationsship is not included, and is empty, as can be seen here (or above):

`"account": [],`

When including the data by adding

[2016-04-29 22:28] kocsismate commented on #20
Sorry for the delay, I only had time to play with your patch now!

Thank your really much for your efforts, but before accepting your PR, let's clarify what the actual problem is, because I have some difficulties to understand it properly. :(

I tried the current implementation and yours with the book example when an empty to-one and and an empty to-many relationship were included and when they we

[2016-05-03 06:57] emil-nasso commented on #20
Sorry about the confusion. The documentation is not 100% clear on this. The thing i was trying to point at was that the data-attribute should be included in the output, even if it is empty.

I created an example using the user/book code in the repo.

As there doesn't seem to be any empty relationships in the example i had to make a small modification.

In the `UserRepository` i changed the second

[2016-05-03 16:40] kocsismate commented on #20
OK, thank you for this detailed comparison! Now, I understood what you exactly meant by 'a client doesn't know if the data was simply not requested, or if it was requested but is empty' and this will be a really nice addition to v0.10.5!

[2016-05-03 17:18] kocsismate commented on #20
And I'll have a look at the `data` member when fetching relationships in a separate issue!

[2016-05-03 17:18] #20 closed, assigned to nobody

[2016-05-03 17:39] kocsismate opened #22 "Data member isn't present when fetching a relationship"
As found by @emil-nasso in https://github.com/woohoolabs/yin/issues/20 when visiting the following example url: `?path=/users/2/relationships/contacts`, the `data` member doesn't show up:

[code]

However, when including the relationship in question: `?path=/users/1/relationships/contacts&include=contacts` it will be visible:

[code]

[2016-05-03 19:00] emil-nasso commented on #20
Great. Many thanks! 👍

[2016-05-09 06:31] kocsismate commented on #22
Fixed in this commit: https://github.com/woohoolabs/yin/commit/1aef0431e6b0b9866cdb628e3d37289e7c3f1409

[2016-05-09 06:31] #22 closed, assigned to kocsismate

[2016-05-17 05:42] dragontoe opened #23 "jsonApi"
I'm running some schema-validation on the output from yin and stumble upon a small issue. It looks like yin is creating the [JSON API Object](http://jsonapi.org/format/#document-jsonapi-object) with the key "jsonApi", but the doc always write it in all lowercase.

https://github.com/woohoolabs/yin/blob/master/src/JsonApi/Document/AbstractDocument.php#L78

[2016-05-17 07:17] kocsismate commented on #23
Fair point, I'll fix it in the evening! Thank you very much for this!

[2016-05-17 16:43] kocsismate commented on #23
Resolved in the following commit:https://github.com/woohoolabs/yin/commit/37e09c065f90c54f089d9a117391324c7baa9953, released as 0.10.6

[2016-05-17 16:43] #23 closed, assigned to kocsismate

[2016-06-13 09:21] dragontoe opened #25 "OffsetPagination bug, offset and limit mixup"
Hi,

It looks like $defaultOffset and $defaultLimit is sent in the wrong order [here](https://github.com/woohoolabs/yin/blob/master/src/JsonApi/Request/Request.php#L399)

...($this->getPagination(), $defaultLimit, $defaultOffset);
should be
...($this->getPagination(), $defaultOffset, $defaultLimit);

[2016-06-13 18:13] kocsismate commented on #25
Hey,

You are right, thank your very much for the effort! I've just fixed it in my recent commit: https://github.com/woohoolabs/yin/commit/102eba3d172bb746f384833ca9cda49a3d16de12

I am currently releasing Yin 0.10.7. :)

[2016-06-13 18:13] #25 closed, assigned to nobody

[2016-06-18 11:25] klytron opened #27 "Yin Laravel 5 integration"
How can i integrate woohoolabs/yin with laravel?

[2016-06-30 12:59] qpautrat opened #28 "Hydrate attribute with NULL"
Hi fellows,

I need your POV on this one.
Correct me if i'm wrong but I should be able to set an attribute to my domain object to null if want to.
But as we can see [there](https://github.com/woohoolabs/yin/blob/master/src/JsonApi/Hydrator/HydratorTrait.php#L94) hydration will be forgotten.
Thereby I'm not able to delete my field description for example.

Thx.

[2016-07-03 07:58] kocsismate commented on #27
Sorry for answering late: unfortunately, I am not familiar with Laravel enough, so I cannot give you an adequate answer :/

But what you have to look for is passing a `JsonApi` object to your controllers (I suspect you also have to configure the service container to do so). As it can be seen at Yin's examples (https://github.com/woohoolabs/yin#examples), you are encouraged to return a PSR-7 respon

[2016-07-03 07:58] #27 closed, assigned to nobody

[2016-07-05 18:06] kocsismate commented on #28
Yes, you are absolutely right! Really important observation, so thank you very much!

Do you agree with using the `array_key_exists()` function instead of `isset()`? I think this is the correct fix for it.

[2016-07-05 19:49] qpautrat commented on #28
PR open @kocsismate !

[2016-07-05 21:17] #28 closed, assigned to nobody

[2016-08-02 13:00] emil-nasso opened #30 "ResourceIdentifier::fromArray returning null not being handled gracefully"
If you need to fetch a relationship from a request, you would normally do it like this:

[code]

This returns a `ToOneRelationShip`-object, if the relationship is found, or `null` if it is not.

The `getResourceToOneRelationship` method in the `Request` class looks like this

[code]

The last line calls the `fromArray` method. The problem is that the `fromArray` method does this check:

[code]

So

[2016-08-04 06:09] emil-nasso commented on #30
This functionality is required when you send null as the data for a relationship. In that case, you want to clear the relationship completely. I'm working on a few things related to that. I will create a PR soon.

[2016-08-04 06:17] emil-nasso opened #31 "Default value will be used it the value of the request body data field is null"
I just had a look at this commit:
https://github.com/woohoolabs/yin/commit/c2ace26d24710ac407b30a4da481deb806f44ff8#diff-8b9b082f8f14fc68d1683252b988283eR486

Won't that cause an issue when you send null as the value? Like in this case: http://jsonapi.org/format/#crud-updating-to-one-relationships

[code]

Would perhaps be better to use the `array_key_exists` method.

[2016-08-04 07:10] ghost opened #32 "Cannot install via composer"
Hi,

I cannot install the package via composer

[code]

Here is the error

[code]

[2016-08-04 11:41] kocsismate commented on #30
Thank you very much for your work! I will come back from holiday on Sunday, so I can only deal with the issues early next week :)

[2016-08-04 14:37] kocsismate commented on #32
Hey,

Unfortunately, Composer's error message isn't really informative, but the problem is that Yin requires a PSR-7 implementation (a package which provides the http-message-implementation [virtual package](https://devedge.wordpress.com/2014/09/27/composer-and-virtual-packages/)) and it seems that you haven't installed one yet. You may use `zendframework/zend-diactoros` for this purpose. :)

I'll

[2016-08-04 17:28] #32 closed, assigned to nobody

[2016-08-05 06:03] ghost commented on #32
Now it works like a charm :) Thanks

[2016-08-08 13:58] kocsismate commented on #15
I am closing this issue as the feature in question was implemented in https://github.com/woohoolabs/yin/pull/33 though it will need some small adjustments and additions. So v0.11 is not far away, I want to make it happen in 1-2 weeks!

[2016-08-08 13:58] #15 closed, assigned to kocsismate

[2016-08-08 15:25] kocsismate commented on #31
I am not sure if it is a problem.

The current implementation can be advantageous for the following use-case:

[code]

because type hinting is easier as you don't have to specify a `null` default value for the `$data` parameter.

However, JSON API POST and PATCH requests must always contain a `data` object, so the question is the following: should `$request->getResource()` make difference between

[2016-08-10 11:31] kocsismate commented on #30
I am closing this issue as I think I resolved it in this commit (https://github.com/woohoolabs/yin/commit/78c316db9d39cdb0bf9a4333c58339fb8e51dea6), but feel free to reopen it and tell me if you think otherwise!

[2016-08-10 11:31] #30 closed, assigned to nobody

[2016-08-12 08:52] emil-nasso opened #36 "Clearing relationship is broken in master branch"
Something with the new validation seems to have been broken my last PR. I'm looking into it, i just wanted to flag for it here (i read that you were planning to do a release).

[2016-08-12 09:09] emil-nasso commented on #36
Nevermind. There was an error in one of my tests.

It was trying to clear a relationship using:

[code]

Instead of:

[code]

And i don't think that form is supported, can't find anything about it in the specification.

Sorry about this false alarm.

![https://media.giphy.com/media/xT1XGwu6nmcfEXPqUM/giphy.gif](https://media.giphy.com/media/xT1XGwu6nmcfEXPqUM/giphy.gif)

[2016-08-12 09:09] #36 closed, assigned to nobody

[2016-08-12 09:15] kocsismate commented on #36
No problem :P

[2016-08-16 11:30] kocsismate commented on #15
My latest commit brings full support for this feature: https://github.com/woohoolabs/yin/commit/b11718cdd5fc7d592ff5475701c262334f3cccf5

Test it if you have some time :)

[2016-08-16 16:45] kocsismate commented on #31
I am closing this, but feel free to reopen the issue if you have further concerns about my reasoning. :)

[2016-08-16 16:45] #31 closed, assigned to nobody

[2016-09-21 07:44] kocsismate commented on #19
Hey @qpautrat ,

Look at my commit https://github.com/woohoolabs/yin/commit/d3ab178dccf8d8ed6442d14fd5c48065a79c9821! I've just implemented what you asked for (or maybe something close to it), because I want to do something in my side-project which needs the ability to serializate messages in a custom way.

I hope that you'll like this feature :)

[2016-09-21 08:02] qpautrat commented on #19
Hey !

Ok, I think you forgot something here.
You should pass your `serializer` attribute [here](https://github.com/woohoolabs/yin/blob/d3ab178dccf8d8ed6442d14fd5c48065a79c9821/src/JsonApi/JsonApi.php#L109) i assumed, no ?
Your tests should not passed there.
But except this point, IMO this PR should do the stuff.  Nice job !

[2016-09-21 14:02] kocsismate commented on #19
Very nice catch :P But Scrutinizer also warned me, so I fixed this immediately in another commit https://github.com/woohoolabs/yin/commit/8a6ac1719342b8ef76e47b1d0ed029ef46d9fcb7

Anyway, you are right, a good test suite should have caught this issue! I plan to improve the coverage until releasing Yin 1.0.

Thank you for the feedback!

[2016-09-29 18:39] kocsismate opened #39 "Improve test coverage"
Test coverage could be improved for some key classes. See the "Test coverage" column here:
https://scrutinizer-ci.com/g/woohoolabs/yin/code-structure/master?elementType=class&orderField=test_coverage&order=asc&changesExpanded=0

[2016-09-29 18:43] kocsismate opened #40 "Improve docs"
If you are a native or fluent English-speaker, please proofread the read me and let's make it more helpful and easy-to-read.

[2016-09-29 22:12] beigeotter commented on #40
I can help! :)

[2016-09-29 22:13] kocsismate commented on #40
That would be cool! :)

[2016-09-30 13:05] jmauerhan commented on #39
As a Test Engineer, I'd love to work on this :) I'll open a PR tomorrow with a few classes.

[2016-09-30 13:09] kocsismate commented on #39
I would be really-really happy if you could help as I didn't really have time for this lately :/ Feel free to reach out to me if you need any guidance where to start!

[2016-10-01 21:41] chasingSublimity commented on #40
Hello @kocsismate !

I proofread your readme and submitted a PR. :)

-B

[2016-10-03 10:40] Djuki commented on #39
@jmauerhan @kocsismate

If you need more help on this, ping me I can take over few classes too.

[2016-10-03 13:15] kocsismate commented on #39
@Djuki I would be very happy if you could help!

Any method that's not yet covered and implements more logic than returning/setting a value definitely needs more testing. But I have found errors when testing getters/setters so you can choose whatever you prefer to test. :)

[2016-10-03 14:58] Djuki commented on #39
@kocsismate Ok.

I was thinking to start with `Negotiation/MessageValidator.php`

I noticed that in `lintMessage` we have `new JsonParser()` which makes us hard to mock it.

Same in `validateMessage` with `new RefResolver` and `new Validator`

Do you plan to use some DI or I should unit test this class as is now.

[2016-10-03 18:00] kocsismate commented on #39
Yeah, not long ago I was thinking about this problem too, but finally I didn't change the current implementation because I considered those 3rd party classes as implementation details. I don't usually do this, but here I felt that it is much simpler to leave them as-is than introducing a level of indirection.

So I would prefer test it as is now. :)

[2016-10-03 20:52] jmauerhan commented on #39
The `new JsonParser` can be mocked with Mockery if it needs to be. I haven't had a chance to start adding any tests yet, but I'll do a small PR with some examples.

[2016-10-05 11:47] #40 closed, assigned to nobody

[2016-10-20 11:05] pdrosos opened #48 "PageBasedPaginationProviderTrait getPrevLink and getNextLink generate wrong links"
Hi,

first thank you for the great library! I use it in my project with Zend Expressive and it helped me a lot to implement JSONAPI.

I use the PageBasedPaginationProviderTrait to generate pagination links and I found out it generates Prev and Next links wrong.

The Prev link is null on the last page and the Next link is null on the page before the last page.
The problem is [here](https://github.c

[2016-10-20 12:58] kocsismate commented on #48
I am glad to hear that you use the library! :) I'll definitely look at the problem and tell you if I also believe your fix is good as soon as possible (it's probably tomorrow or Saturday).

[2016-10-20 15:08] kocsismate commented on #48
@pdrosos Ok, I had time to think about what you said and it really looks good! So I would be happy to receive that PR :)

[2016-10-20 16:36] pdrosos commented on #48
Done in #49 :)

[2016-10-20 22:11] #48 closed, assigned to nobody

[2016-10-28 22:07] #39 closed, assigned to nobody

[2016-11-04 09:24] hovmand opened #50 "Omitting `data` property from `relationships` information"
I'm trying to describe a relationship only by the `links` for which can be used to fetch the actual data of the related resource.

There are two resources **A** and **B**, where **A** has many **B**s. When fetching **A** the entries of **B** shouldn't be included.

Performing the following request
[code]
responds with
[code]
where I'm trying to get a response without the `data.relationships.B.data

[2016-11-06 15:50] #50 closed, assigned to nobody

[2016-11-06 15:59] kocsismate commented on #50
First, thank you for the report, this was an important issue. I believe the fix was easy: I only added a condition which ensures that the `data` property is only present in the response if you invoked `$relationship->setData()`.

Could you please confirm that my fix works on your end too?

[2016-11-07 09:19] hovmand commented on #50
It works. Thanks.

[2016-11-07 09:36] kocsismate commented on #50
Cool! I've just released v1.0.1!

[2016-11-10 14:54] pdrosos opened #51 "Question about sorting of included resources by id"
Hi,

I noticed, that in my JSONAPI response the included resources are sorted by id, instead by their original order.
After looking in the code I found out that [this line](https://github.com/woohoolabs/yin/blob/master/src/JsonApi/Schema/Data/AbstractData.php#L130) sorts them by id.

I have a question, why is this behavior implemented? In my case I would like to have them sorted in the same way, i

[2016-11-12 20:45] kocsismate commented on #51
Hey,

Fair question! The "included" array should be considered as an Identity Map, so ordering its content by ID seemed reasonable for aesthetics, in spite of the fact that doing so has no practical advantage to be honest.

Based on my understanding, that's why JSON:API clients shouldn't rely on the order of the included resources: the "included" array should be first loaded in memory, and when qu

[2016-11-13 13:39] pdrosos commented on #51
Hi,

thanks for your answer! In general I agree with you that the included resources order should not be considered as important, but the relationships array to be used instead.

In my use-case I use normalization of the JSONAPI response, based on [this normalizer](https://github.com/prenaudin/normalize-json-api). As you could see [here](https://github.com/prenaudin/normalize-json-api/blob/master/

[2016-11-14 21:52] kocsismate commented on #51
OK, now I understand your problem. :)

I did some investigation and fortunately found a discussion about sorting the included array: http://discuss.jsonapi.org/t/how-to-sort-included-resources/198. This means that I am willing to remove sorting because it isn't controversial to the spec and recommendations and this modification even improves the performance a tiny little bit. However, the included

[2016-11-15 08:48] pdrosos commented on #51
Very nice resources, thanks! I haven't read them so far and I will very soon.

It's nice that you think the included array can be sorted too and it is not against the specifications. Waiting for this improvement, even it wouldn't look so neat any more ;)

Yes, the normalizer handles multiple included resources types and as it uses the included array to iterate trough them and group them, it's a re

[2016-11-17 07:48] kocsismate commented on #51
Released v1.0.2 :)

P.S.: It's nice to hear that the normalizer handles this case too!

[2016-11-17 07:48] #51 closed, assigned to nobody

[2016-12-03 14:50] wagnert opened #52 "Installation fails because of missing psr/http-message-implementation"
Hi, when i try to install your package using composer i receive the following error message:

[code]

A package psr/http-message-implementation does not exists, so i think it should be `psr/http-message`, correct?

[2016-12-04 08:58] kocsismate commented on #52
Hey,

You can find information about the problem in the ["Install" section of the readme](https://github.com/woohoolabs/yin#install). :) Basically, you need to require a package which implements PSR-7. I usually prefer zend/diactoros, but you can choose freely.

Good luck with the install, I hope that it will run smoothly now :)

[2016-12-04 08:58] #52 closed, assigned to nobody

[2017-01-26 10:53] lunika opened #53 "Custom Responder, Document without Response and some more."
Hi,

I use this library for the last 2 weeks, it helps me a lot and I would like to discuss with you about some choice you made and understand why.

First of all, why did you choose to create the `Responder` in the `JsonApi` class ? it makes hard to create our own responder because it is not possible to use it with the original `JsonApi` class. Doing this, we have 2 choices :
- extends `JsonApi` c

[2017-01-27 10:29] kocsismate commented on #53
First of all, thank you very much for these insights :) I'll answer your questions below:

1.) I chose it to be hard-coded because at that time I didn't think there was use of making it extendible. But now I became curious what aspects of the `Responder` class you want to change? Anyway, I'd pleasingly make it available as a dependency of the `JsonApi` class if it helps you (and the `RelationshipR

[2017-02-02 09:43] lunika commented on #53
finally I didn't extend nor use it anymore, I will explain why in the next point ;-)

In fact I don't need to transform the document in a response, I already have a responder service and is role is to elect the good responder depending many parameters and my responder allow me to set all the headers I want, which is not the case with the reponder in this library

To fit my need I rewrote all the a

[2017-02-02 11:53] leclairmael opened #56 "ResourceNotFound should have 404 status (?)"
Hello,

Currently the ResourceNotFound exception bears a 400 status.
I believe it would make more sense to make it a 404.
Or maybe there's a specific reason behind this?

Cheers

[2017-02-02 13:30] kocsismate commented on #56
Hi!

Oh my.. You are completely right. I will definitely fix it (and check all the other exceptions too) tonight and release a new patch version.

Thank you for reporting this!

[2017-02-02 14:51] kocsismate commented on #56
I've just released v1.0.4! :)

[2017-02-02 14:51] #56 closed, assigned to nobody

[2017-02-03 09:56] lunika opened #57 "Don't ignore attribute in hydrator if not present in the request"
The Hydrator ignores attribute if they are not present in the request, the callable is never call.

This is annoying if an attribute is required for example.
I think it should be great to execute all the callable and let the developer decide what it should do, ignore the attribute, set it to null, throw an exception, etc.

I made a commit on my repo https://github.com/lunika/yin/commit/d6955813bc7

[2017-02-03 10:21] leclairmael commented on #57
Hi @lunika!

IMHO, ignoring missing attributes is the right behavior for the hydrators.
If you require an attribute you should implement some validation logic for it, but it should be outside of the hydrator code. We have implemented some standard Validator for a project of ours, I could share some details in case you're interested.

Cheers,
M.

[2017-02-03 13:03] lunika commented on #57
Well it's a good behaviour but not the more flexible. The hydrator is not a simple mapper that take data and put them in a property, you are free to implement what you want to do with this data, using a callable is a very good idea and I'm a little bit frustating to not do what I want when the property is missing. Implementing a validator on an array is a little bit bothersome, the [optionsResolve

[2017-02-03 13:33] leclairmael commented on #57
Maybe I'm wrong but I think it _should_ be a simple mapper :)

[2017-02-03 13:45] lunika commented on #57
Most of time a simple mapper force you to use property access (you must have getters and setters on your class), they use reflection to map request attributes with class atributes. Here we are free to do what we want, you are also free to use an array, that's cool don't you think ? You also can inject all the services you want in the hydrator and use them in each part of the hydrator. You want som

[2017-02-04 11:40] kocsismate commented on #53
As you have probably noticed, I've just merged your PR. Thank you very much! I'll finish the work with the `Error` classes :)

[2017-02-04 11:40] #53 closed, assigned to nobody

[2017-02-04 12:49] lunika commented on #53
Great 👍

For version 2.0 if you want you can open issue and tag them, I can help you if you want.

[2017-02-06 23:42] kocsismate commented on #57
Hey @lunika again :)

Sorry for the long delay, I didn't have much time and brain to think about it during the weekend (and I was super enthusiastic about type hinting the whole project and its supporting libraries too :D).

To be honest, I am also dissatisfied with the way hydrators currently work, and I tried to make them more strict but unfortunately my idea would have contradicted to the spec

[2017-02-09 09:14] lunika commented on #57
I prefer the first solution :-) and the first solution will be faster to execute than the second one I think.

[2017-02-09 09:17] lunika opened #58 "Allow to set options to the json_encode method"
It should be great to configure a little bit how the `json_encode` method is used in the Serializer. Configure all the options and the depth.
You can maybe add this in your v2 roadmap ? :-)

[2017-02-09 10:10] kocsismate commented on #58
Yeah, for sure. Good idea! I'll release a beta version tonight with this change.

And I plan to include the changes for hydrators in the second beta so we can think about the implementation a little bit more.

[2017-02-09 20:46] kocsismate commented on #58
I've just released 2.0.0-beta1 with this change (https://github.com/woohoolabs/yin/commit/f263ea9ac532b2a1d125e9d0cf0264fef8a8db26) :) I hope you'll like it - apart from some breaking changes which need some time to be resolved. Feel free to reach out to me if you might need help.

And do not hesitate to share other ideas of yours which come with breaking changes. I plan to stay in beta/RC for som

[2017-02-09 20:46] #58 closed, assigned to nobody

[2017-02-09 20:47] lunika commented on #58
Thanks, I will test this soon :-)

[2017-02-10 14:33] leclairmael commented on #58
Hello,
That's an interesting feature, could you backport it to the 1.0 branch?

[2017-02-11 09:07] kocsismate commented on #58
Hi,

It's done by now :) And I've just released v1.0.5!

[2017-02-13 18:07] oitimon opened #59 "Resource schema validating"
Hello.

When you POST or PATCH "id" with integer value (for example {"id": 23}) the library generates system exception because of new stricts (strict_types=1) in file \WoohooLabs\Yin\JsonApi\Schema\ResourceIdentifier  line 38.

Old version worked with integers because of autocasting in php. I think new version "must" generate "4XX Bad Request, id must be a string" (jsonapi 1.0 standard) or in fast

[2017-02-14 12:06] kocsismate commented on #59
Hi! Thank you for the report!

I tried to fix the issue in this commit (https://github.com/woohoolabs/yin/commit/4957da51783992add389b531b58d2f6b960e242a) and I hope it will work for you. Please tell me if you still have any problem with type hints.

[2017-02-14 15:37] oitimon commented on #59
It works perfect.

Thank you!

[2017-02-14 15:37] #59 closed, assigned to nobody

[2017-03-04 16:08] kocsismate commented on #57
I'd like to release Yin 2.0 soon, so I started to think about this problem again. Another solution could be to add a `validate(Request $request)` abstract method to hydrators where you are able to validate the request as much as you'd like to. The advantage of this solution is that you can check in one go if all the compulsory attributes are present **before** hydrating the values.

What do you th

[2017-03-06 10:37] lunika commented on #57
Yes it's a good idea to separate the validation and the hydration like @leclairmael suggest it, you can add more validation than simply test if a field is present or not.
I'm testing this library to do that https://github.com/chanmix51/ParameterJuicer

[2017-03-07 10:05] lunika commented on #57
I read the commit https://github.com/woohoolabs/yin/commit/5610c59bce68c60cda9a2e2e4e5a3e57b62484b8 you should maybe use the `exceptionFactory` in your examples ?

[2017-03-07 18:42] kocsismate commented on #57
I intentionally didn't use the ExceptionFactory, because I think this exception is out of the scope of the spec and thus out of the scope of the framework. But yeah, a `ExceptionFactory::createMissingAttributeException()` could be added as a convenience method, but I don't know if it worth it.

By the way, the `ExceptionFactory` was mainly born to be used by Yin - the framework - in order to be ab

[2017-03-07 18:42] #57 closed, assigned to nobody

[2017-03-08 08:25] lunika commented on #57
in that case you should maybe remove the exception factory for this method ?

[2017-03-08 21:44] kocsismate commented on #57
Fair point - I've just removed it!

[2017-03-09 19:09] kocsismate commented on #57
@lunika Do you have any feature in mind which should be implemented before the release of v2.0? I think I finished what I wanted. :)

[2017-03-09 20:08] lunika commented on #57
You should maybe open a new issue to send a notification to all developers following this library ?
For now I have no idea

[2017-03-10 09:27] kocsismate commented on #57
They all got a notification about this conversation :) if someone was interested, they could have created an issue in the past one month. And I think we are good for this major release because it contains quite a few BC breaks and I don't really want to have more.

All in all, I became impatient to release v2.0, so I'll do it today.

[2017-08-23 12:19] leclairmael opened #64 "Body sent via POST is not retrievable"
Hello,

Starting a project with current 2.0.2, I'm facing an issue when trying to send POST requests.
Basically the retrieved body ends up being empty, which causes fatal errors.

I've identified the issue to be coming from `WoohooLabs\Yin\JsonApi\Request\Request::getParsedBody`, I'll post a PR shortly.

[2017-08-23 12:42] leclairmael commented on #64
Here's the PR https://github.com/woohoolabs/yin/pull/65

[2017-08-24 20:08] kocsismate commented on #64
Fixed.

[2017-08-24 20:08] #64 closed, assigned to nobody

[2017-12-05 15:32] gfemorris opened #66 "Bug in request header validation"
Following line in "protected function isValidMediaTypeHeader" in src/JsonApi/Request/Request.php
`return strpos($header, "application/vnd.api+json") === false || $header === "application/vnd.api+json";`
returns true even if the header is wrong. It should be:
`return strpos($header, "application/vnd.api+json") !== false || $header === "application/vnd.api+json";`

And i think the second statement i

[2017-12-05 21:19] kocsismate commented on #66
Hey, thank you for the report and for the suggestions for the fix! However, I think the current algorithm conforms to the specification. If you re-read the "Server Responsibilities" section in the spec (http://jsonapi.org/format/#content-negotiation-servers), you'll find that a server MUST only:
- send the `Content-Type` header in each response
- validate the `Accept` request header if it doesn't

[2017-12-06 10:47] gfemorris commented on #66
Ok i just checked the specs and the problem here goes further than i thought and the check here is insufficient:
The original check is this:
`return strpos($header, "application/vnd.api+json") === false || $header === "application/vnd.api+json";`

Valid example Headers against the check:
* Accept: application/vnd.api+json
  * Valid through `$header === "application/vnd.api+json"`
* Accept: applica

[2017-12-14 00:55] kocsismate commented on #66
Sorry, I currently have a very hectic year end at work. :S So I will be back in a couple of days. :)

[2017-12-18 10:08] gfemorris opened #67 "Problem with the resource transformer design pattern and cross relations"
When using cross relations between 2 resources the current design pattern used by the yin resource transformers has the issue of circular dependencies. I think it is necessary to cross relate objects. For example:
* You have a book object and want to know the author(s)
* You have an author object and want two know books written by the author

I solved this in my case outside of the lib with inject

[2018-01-31 21:36] kocsismate commented on #66
@gfemorris I am back after a couple of weeks :)

Thank you for the thorough investigation! I managed to think over the problem and I committed the following solution based on your suggestions: https://github.com/woohoolabs/yin/commit/d435e7a271f5c4cfa2d928acefd07cbb6aad6162

I hope that you have some time to review it. If everything is OK then I'll release a patch with the fix for Yin v2.0 and v3.

[2018-01-31 22:02] kocsismate commented on #66
I had to change the code again because I realised that the first condition can be omitted (right?) and the regex would fail in the following scenario: "application/vnd.api+json;". I hope that the validation logic is good now.

https://github.com/woohoolabs/yin/commit/dfcd047dc9bc2cecb005972798907e57f188f7fc

[2018-02-05 21:42] #66 closed, assigned to nobody

[2018-03-05 14:23] gfemorris commented on #67
Hi, sorry to bother you again...
it would be very nice if you could check this, because i think it is a bigger issue which everyone will face sooner or later. It would be best if it would be solved inside the lib, everything else feels like a dirty workaround.

Thanks anyway for this great lib and your hard work!!!

[2018-03-09 17:32] kocsismate commented on #67
Hey,

Sorry for leaving your issue unanswered so long, and thanks for bringing this up again. In the current months I am overwhelmed with other tasks and really busy at work. :/ So I didn't have possibility to think about the solution and respond you.

I'll answer you in detail in some days (and definitely not in many days)!

[2018-03-09 17:48] gfemorris commented on #67
Hey,
thanks for your reply. You just answer whenever you have time..
I just wanted to bring it up again so that it is not forgotten.

[2018-03-19 18:48] kocsismate commented on #67
I have thought about the problem since our last messages, and I believe, it should be solved outside of the library indeed. Here are the solutions which might work for you in my opinion:

- The quick and dirty solution might be using property or setter injection if you have a DI Container. These methods effectively mitigate the problem of circular dependencies. Usually, I don't recommend these dep

[2018-03-21 10:51] gfemorris opened #70 "Links for paginations should include filter and sorting parameters"
Hi,
this is basically an improvement.
I think it would be really cool if the sorting and filter params would automatically be included in the links of the pagination. Basically a pagination is useless if those parameters are not included. Because those values are already available inside the lib, it should be possible. For sure one can solve this in the environment, but it would be a nice improvem

[2018-03-21 12:11] kocsismate commented on #70
Hi,

This is a cool idea! I'll try to implement it as soon as I will be free from work overload... :) But I welcome any PR if you have the possibility to do it.

[2018-04-06 01:19] klytron commented on #27
Hello I have finally integrated Yin into laravel 5.6 with [dingo API](https://github.com/dingo/api) But stuck here.

Below is my code.

    public function show()
    {

        // Find the current route
        $exceptionFactory = new DefaultExceptionFactory();
        $deserializer = new JsonDeserializer();
        $request = new Request(ServerRequestFactory::fromGlobals(), $exceptionFactory, $d

[2018-04-06 01:28] klytron opened #71 "Laravel 5 Integration help"
Hello I have finally integrated Yin into laravel 5.6 with [dingo API](https://github.com/dingo/api) But stuck here.

Below is my code.

    public function show()
    {

        // Find the current route
        $exceptionFactory = new DefaultExceptionFactory();
        $deserializer = new JsonDeserializer();
        $request = new Request(ServerRequestFactory::fromGlobals(), $exceptionFactory, $d

[2018-04-06 10:09] gfemorris commented on #71
Hi,

you should use the PSR-Bridge to have the support of PSR7 requests Laravel:
https://laravel.com/docs/5.6/requests#psr7-requests

After integration you can just type hint the request in your action:
`public function show(ServerRequestInterface $request)`

With the PSR7 request already available it should be easy to create the jsonapi object:
`$jsonApi = new JsonApi(new \WoohooLabs\Yin\JsonApi\

[2018-04-06 18:50] klytron commented on #71
Thanks @gfemorris very very helpful.

[2018-04-09 13:25] gfemorris commented on #70
Hi,

yes i will try to do a PR if i have the time to do.. (we all have the same problems with work overload)
Thanks for your reply anyway..

[2018-04-09 13:26] gfemorris commented on #67
Sorry didn't have the time to think it through.. but i will reply in detail soon... thanks for your ideas.

[2018-04-16 09:12] kocsismate commented on #71
@gfemorris Thank you very much for the detailed answer :) I am not familiar with Laravel at all so it was really helpful for me too!

[2018-04-18 20:02] piiskop opened #72 "Instruction lacking information on examples"
I followed the instructions on how to install yin. However, I can't run examples as the instruction is lacking information on how to do that. It'w written that I should run composer install inside yin. OK, did it, it created another vendor folder inside yin and yin was in another vendor folder already as I used composer to install yin for my project. Installing yin using composer doesn't install t

[2018-04-20 06:07] kocsismate commented on #72
Hey,

Thank you for the feedback! I'll try to update the install documentation with instructions how to get the examples soon. Until then, you can use multiple methods to get the examples:

- Use the `--prefer-source` attribute when installing Yin (https://getcomposer.org/doc/03-cli.md#require)
- Download the whole project by clicking the "Clone or Download" button on the project's main GitHub pag

[2018-06-06 18:29] guilhermeaiolfi commented on #67
I don't think creating the graph of how transformers are related is the best alternative. I think you should specify the Transformer class when you create relationships. So it would looks like:

[code]

You could instantiate them as needed and remove the need for this:

[code]

[2018-07-04 19:09] kocsismate commented on #72
Closing this, as I fixed it here: cb909939d0efe4c1ec588e53e9bcfc57bbc63750.

[2018-07-04 19:09] #72 closed, assigned to nobody

[2018-07-04 20:39] kocsismate commented on #4
I'll close this as it is too complex to develop and the gain is not so much.

[2018-07-04 20:39] #4 closed, assigned to nobody

[2018-07-04 20:40] kocsismate commented on #71
I'll close this now. I hope that all your problems have been solved in connection with this issue.

[2018-07-04 20:40] #71 closed, assigned to nobody

[2018-10-23 11:52] waghanza opened #73 "Recommandation for a symfony based implementation"
Hi,

I want to create a `symfony` `4` based **hateos** api that follow [jsonapi specs](http://jsonapi.org)

I can find to valuable implementations :

+ https://repo.packagist.org/packages/qpautrat/woohoolabs-yin-bundle
+ https://repo.packagist.org/packages/paknahad/jsonapi-bundle

Those implementations are very similar. On documentation, I can see a link for https://repo.packagist.org/packages/qpa

[2018-10-24 08:08] qpautrat commented on #73
Hello @waghanza ,

I didn't look at @paknahad's bundle but these bundles are just a bridge between `Yin` framework and `Symfony` Framework.
There is no much things to do.
You just need to ask yourself if `Yin` (and `Symfony`) is the correct tool for your need. If yes it does not really matter what implementation you chose IMHO.
If `Yin` does not change in a critical way how it works, you should be

[2018-10-24 09:53] paknahad commented on #73
Hello everybody
I agree with @qpautrat

I don't think these bundles are same, so you can select one of these based on your need.

[2018-10-24 14:17] waghanza opened #74 "Nullable attributes in database"
Hi @kocsismate,

I have some `nullable` fields in my **database**, then the value of `$attribute` is **null** in
https://github.com/woohoolabs/yin/blob/159c654e1dcf933eb2ac1eea9082366737ec8171/src/JsonApi/Transformer/AbstractResourceTransformer.php#L126

Is this legitimate to encapse this with a `is_null` or any check that could avoid **Function name must be a string**

Regards,

[2018-10-24 15:33] waghanza opened #75 "ID as string ?"
Hi @kocsismate,

Database `id` are considered as string, for example in `hasIncludedResource`.
https://github.com/woohoolabs/yin/blob/65e6bc15aa6efdcef8c17a4b246ba581192f5b7b/src/JsonApi/Schema/Data/AbstractData.php#L43

Should not `id` be considered as  `int` ?

Regards,

[2018-10-24 17:58] kocsismate commented on #75
Hey @waghanza!

Legit question, but long story short: it is by the specification. https://jsonapi.org/format/#document-resource-object-identification. To be honest, I was also surprised when I discovered this rule.

I am closing the ticket. Have a nice evening! :)

[2018-10-24 17:58] #75 closed, assigned to nobody

[2018-10-24 18:10] kocsismate commented on #74
Hi @waghanza,

Could you please show me an example transformer from where this error is thrown? I have a guess that something is misconfigured at your end, because the `$attribute` here should be a `callable` which is an element in the returned array of the `getAttributes()` method. This is an example `Resource Transformer` from an API of mine:

[code]

[2018-10-25 06:48] waghanza commented on #74
Hi @kocsismate ,

Considering your example, I have to deal with `nullable` address line in database

The function signature is :
[code]

Regards,

[2018-10-25 08:17] waghanza commented on #75
@kocsismate I can unserstand with https://github.com/json-api/json-api/issues/1312 that `id` can also be a `string` (in **specs**)

but are users of **yin** using anything else that `integer` ?

probably, in this case not respecting strictly jsonapi specs is legit

what do you think ?

[2018-10-25 12:20] waghanza commented on #75
@kocsismate an other case is filtering, as of `jsonapi` specify how filtering **should** work
https://jsonapi.org/recommendations/#filtering

for example, when trying to filler using `/cars?filter[id]=13`, we have then an `int` in `$attributes` in `transformAttributes`, then we have **Function name must be a string** in line `126`

[2018-10-25 13:39] #73 closed, assigned to nobody

[2018-10-25 13:46] waghanza commented on #70
@gfemorris @kocsismate I do not know it this is to handle at `yin` level.

As filtering is a way to extract data (not to display them) from any source (a database for example), it could be at a higher level (a `bundle` for `symfony` for example)

What do you think ?

[2018-10-25 14:08] gfemorris commented on #67
@guilhermeaiolfi Yes i came up with that idea as well and actually solved it like that in another project. Sometimes the easy solutions are the hardest to find.. :D
And i totally agree, that this is the best approach here. The only thing considering would be, that we will end up with a lot of transformer instances. Transformers are stateless so they could be singletons without any issues.
Maybe @k

[2018-10-25 14:25] gfemorris commented on #70
@waghanza i don't think your topic is related to this one. This issue is just about the pagination links not including the filtering and sorting parameters.

For sure filtering itself should be ideally done on database level for performance reasons.

[2018-10-25 14:31] waghanza commented on #70
@waghanza
You talk about filter params, no ?

[2018-10-25 14:41] gfemorris commented on #70
@waghanza
You can create pagination links through yin. For example in your yin document you want to have the pagination links, so you call:
`Links::createWithoutBaseUri()->setPagination(...`
Those links actually do not include filtering and sorting params automatically, so you have to add them yourself. This is what the topic is about.

[2018-10-25 14:44] waghanza commented on #70
ah, ok clearer now :stuck_out_tongue:

for me it was not to be done automatically, but having a feature that can enable / disable it

what I can contribute to

[2018-10-25 15:01] waghanza commented on #70
@gfemorris just  to be sure, you mean using something like getting books where author's name is **glen** in my example https://github.com/waghanza/book-manager like with
 `/books?filter[author.name]=glen`

[2018-10-25 15:09] gfemorris commented on #70
yes and if you use pagination you want to have the filters in the links:
` "next": "books/?filter[author.name]=glen&page[limit]=10&page[offset]=10",`
and not
` "next": "books/?page[limit]=10&page[offset]=10",`
if you call:
`Links::createWithoutBaseUri()->setPagination("books", $domainObject);`
it will include the pagination links but **not** the filter links. so you have to add them yourself like

[2018-10-25 20:30] kocsismate commented on #70
@gfemorris Ah, I tried to fix this issue months before, but I couldn't come up with a good solution which is easy enough... :/ Hopefully, I'll be able to revisit this in the near future... But now, I'm working on introducing support for JSON:API v1.1. :)

[2018-10-25 20:46] kocsismate commented on #75
@waghanza, I don't think that everyone is using `int`: for example I use `UUID`s as IDs. But I get your point, the method in question could have the `hasIncludedResource(string $type, $id)` signature. The problem with this is that I love type declarations, so I wouldn't really like to omit the type of the second parameter unless it is extremely annoying.

Regarding your last comment, I still don't

[2018-10-26 09:47] waghanza commented on #74
Hi @kocsismate,

Globally, the variable `$attribute` is not always a **string** (at least for me, so not callable as a **method**)
https://github.com/woohoolabs/yin/blob/159c654e1dcf933eb2ac1eea9082366737ec8171/src/JsonApi/Transformer/AbstractResourceTransformer.php#L126

Regards,

[2018-10-29 11:37] waghanza commented on #74
@kocsismate perhaps my `getAttributes` **method** is not well written

[2018-10-29 11:39] kocsismate commented on #74
Yes, I think so! You have to use anonymous function in the returned array too (as in the example above)

[2018-10-29 11:44] waghanza commented on #74
@kocsismate Here is my function defintion
[code]
and `getCustomerId()` returns an `int`

[2018-10-29 11:50] kocsismate commented on #74
hmm. but this definition seems to be correct (apart from that the `$order` parameter isn't an `array`, but I guess that is just an oversight)! Do you still experience the `Function name must be a string` error?

[2018-10-29 11:51] waghanza commented on #74
@kocsismate sure, wrong copy/paste (for array type-int)
[code]

[2018-10-29 14:11] waghanza commented on #74
@kocsismate the problem was not were I thought, I've fixed it now

[2018-10-29 14:11] #74 closed, assigned to nobody

[2018-10-29 18:25] gfemorris commented on #70
@kocsismate Anyway it is not that important just an improvement. I will probably check this again in the near future, when i start working on jsonapi projects again and then maybe provide a pull request. And great to hear that you are working on v1.1 integration.

[2018-10-31 11:08] waghanza opened #76 "Forcing api mime type ?"
Hi @kocsismate,

[jsonapi](http://jsonapi.org) specs define the **mime type** `application/vnd.api+json`.

It could be interesting to force consumer to use this mime type, I mean return an `HTTP 406` if not.

It let the developer use an other response formalism, for example [msgpack](http://msgpack.org) ...

What do you think ?

Regards,

[2018-11-02 19:40] kocsismate commented on #76
Hi @waghanza,

Yes, Yin has this feature: https://github.com/woohoolabs/yin#content-negotiation.

But if you'd like to "hack" the spec, and use msgpack or any other format besides JSON, you are also equipped with necessary tools: https://github.com/woohoolabs/yin#custom-serialization

[2018-11-05 10:44] #76 closed, assigned to nobody

[2018-11-12 15:16] waghanza opened #77 "Bulk creation / update"
Hi @kocsismate,

I can see that we can `GET` compound document
https://jsonapi.org/format/upcoming/#document-compound-documents

Can this also be done for creation at the moment ?

Regards,

[2018-11-14 09:46] kocsismate commented on #77
Hi @waghanza ,

No, unfortunately the spec doesn't have this thing yet. But it has been long time on their roadmap, so JSON:API will probably support this in the future...

I'm closing this ticket for now. :)

[2018-11-14 09:46] #77 closed, assigned to nobody

[2018-11-21 21:20] kocsismate commented on #70
Hey @gfemorris,

Finally I had the opportunity to think and work on this ticket as part of my efforts to support JSON:API 1.1 (in Yin 4.0). You can see my implementation with an example in my commit: https://github.com/woohoolabs/yin/commit/0fc64d41533f2ca9f95ac341a22f5076e23b91ff

Unline in Yin 3, the request will be directly available from the `Document`s and `ResourceTransformer`s In Yin 4.0 (a

[2018-12-10 15:19] #70 closed, assigned to nobody

[2019-02-27 09:40] ruudboon opened #78 "[NFR] Let user install PSR to allow PSR extension"
I'm using a PSR extension for my PSR interfaces (https://github.com/jbboehr/php-psr) due to the requirements of the PSR package from packagist that one is used.
Could you remove that package as a requirement from the composer.json and let the user decide where to get the interface from?

[2019-03-03 00:04] Ilyes512 opened #79 "Example of a document that uses AbstractSimpleResourceDocument"
Hi,

I started implementing yin into my project and thought lets start with the "simple", but I don't seem to be able to figure out how to implement it. It's mainly the (uncommented) abstract `getResource()`-method that's causing the problem.

I haven't tried the AbstractSingleDocument yet, but I am sure that's going to be easy to use (because of the great readme and examples 👍 ).

So my question

[2019-03-03 15:46] Ilyes512 commented on #79
I found out how to implement the AbstractSimpleResourceDocument getResource() method. For anyone else that might wonder how it's done. Here is a minimal example:

[code]

[2019-03-03 15:46] #79 closed, assigned to nobody

[2019-03-03 18:19] Ilyes512 opened #80 "Use a ResponderInterface instead of concrete type Responder"
Would it be possible to change the return type of `respond` to an interface instead? I would like to create a `LaravelResponder` that would put the results through a psr7 response bridge first. If you agree I will make a merge request with the code changes needed.

[code]
Source from JsonApi: https://github.com/woohoolabs/yin/blob/master/src/JsonApi/JsonApi.php#L83-L86

[2019-03-03 19:29] kocsismate commented on #79
Hi! Thanks for the report, I'll definitely try to better document this document type.

One more thing: there is a version 4.0 of Yin in the works so you could directly go with it. It is still in beta, but I want to release a final version very soon.

[2019-03-03 19:30] Ilyes512 commented on #79
I just noticed that but good to know your planning on releasing it soon. I will definitely try and use that then.

[2019-03-03 19:32] kocsismate commented on #80
A PR would be definitely welcome! That would be the best if you could make it against the 4.0 branch.

I only omitted the interface because I didn't have a use-case in mind when it would be useful. Now, we have it. :)

[2019-03-03 19:35] kocsismate commented on #79
I have been delaying the release because the JSON:API 1.1 spec hasn't been finalized yet, but I don't want to wait forever so I'll just go with the current RC version (and only with partial support for profiles).

[2019-03-03 19:36] Ilyes512 commented on #80
Nice, will do :)

[2019-03-18 13:30] JosipTrbuscic opened #81 "Using same temp stream in multiple requests"
During api testing with Codeception I tried to test multiple routes in same test using `@DataProvider`. If I specified 1 route, for example:

[code]

test will work as expected.

After adding 2 or more routes in data provider, for example:

[code]

second and third route test will fail because invalid json was returned.

After some debugging I found out that same `php://temp` stream is being used

[2019-03-20 09:17] jakagacic commented on #67
I know it's been a while, but I came across the same problem yesterday. I have an Offer entity that has many Images and each Image entity is related back to an Offer. I wanted to be able to include both Images with Offer and Offer with Image. After trying and failing for a while, I got it to work using Symfony's [setter injection](https://symfony.com/doc/current/service_container/calls.html). The

[2019-03-29 12:19] kocsismate commented on #81
Hi @JosipTrbuscic ,

As I see in the referenced issue, the problem was caused by a gotcha in codeception, am I right? If so, please confirm it by closing this ticket. :)

[2019-03-29 13:14] kocsismate commented on #67
Hi @jakagacic,

Thanks for sharing your example!

To give an answer to the prior discussion: as @guilhermeaiolfi suggested, transformers are not at all needed to be instantiated ahead of time, a DI container can easily do the job on-the-fly.

I don't plan to add better support for service location of transformers in Yin as I believe it can be still conveniently done in user-land code. However, I a

[2019-04-01 13:26] #81 closed, assigned to nobody

[2019-04-08 12:05] kocsismate commented on #80
@Ilyes512 Are you sure that using a `ResponderInterface` is the right (or only) solution for this problem? I am not very familiar with Laravel but can't the PSR7 response bridge be applied before and/or after Yin is run?

[2019-04-16 18:46] kocsismate commented on #80
Closing this because of inactivity.

[2019-04-16 18:46] #80 closed, assigned to nobody

[2019-04-16 18:50] Ilyes512 commented on #80
Yeah sorry :) I will probably come back to this later once I am working on a project again which uses jsonapi.

[2019-04-16 18:53] kocsismate commented on #80
No problem 😊 we can revisit this question later!

Ilyes512 <notifications@github.com> ezt írta (időpont: 2019. ápr. 16., K
20:50):

[2019-05-17 11:26] koichirose opened #83 "Possible bug in OffsetBasedPagination"
From my tests I'm getting wrong results here: https://github.com/woohoolabs/yin/blob/master/src/JsonApi/Schema/Pagination/OffsetBasedPaginationLinkProviderTrait.php#L35

In case of 5 total items and limit 100, it will return a negative offset.
In case of 5 total items, offset = 0, limit = 1, it will return offset 3, limit 1, therefore missing the last item.

And here: https://github.com/woohoolabs

[2019-05-22 06:47] jakagacic opened #84 "Exception code 0"
Hi!

Exceptions in namespace `WoohooLabs\Yin\JsonApi\Exception` don't have correct codes, they all use default code 0, without the possibility of overriding. This makes it harder to handle these errors. For example, [`FullReplacementProhibited`](https://github.com/woohoolabs/yin/blob/master/src/JsonApi/Exception/FullReplacementProhibited.php) should have code 403.

Libraries like [jsonapi bundle](

[2019-05-22 12:25] kocsismate commented on #84
Hi @jakagacic ,

Thanks for the feedback, I'd appreciate a PR. :)

[2019-05-22 12:25] kocsismate commented on #83
Hi @koichirose ,

Did you have time to check it out? If not, I'll try to check it in the near future.

[2019-05-22 13:42] koichirose commented on #83
I managed to reproduce it with the input I specified, but I didn't have time to actually fix it properly.

[2019-05-23 13:47] #84 closed, assigned to nobody

[2019-05-28 14:42] kocsismate commented on #83
Thank you very much for the great examples! I pushed a fix for them to master (https://github.com/woohoolabs/yin/commit/f417f6682af3051d117126f5f4f6f7d74302a918), please verify if pagination works correctly for you.

[2019-05-28 15:21] koichirose commented on #83
Hello! Yes, that fixes it. Thanks

[2019-05-28 15:52] kocsismate commented on #83
Glad to hear it! I'll create a new release shortly.

[2019-05-28 15:52] #83 closed, assigned to nobody

[2019-06-05 11:46] kocsismate commented on #84
Your changes have just been released! :)

[2019-06-05 11:46] kocsismate commented on #83
The fix has just been released. :)

[2019-06-12 10:52] Vivenco opened #86 "Hydrating same type (child, parent) related entity"
Hi all,

I need help with this one.

When I have `json:api `response data with relationship of same type (e.g. parent or child - relationship with it-self) and their id's are the same, `Hydrator `is not capable creating those relationships.

Response example:

Page with id:15 has parent with id:14, but its not present in `included` because it already exists in `data` array.

[code]

[2019-06-20 13:50] kocsismate commented on #86
Hi @Vivenco,

This is the intended behaviour. The authors of the JSON:API standard wrote somewhere that the response is basically an identity map where none of the items (regardless if they are in the primary data or included) doesn't appear more than once.

Does this answer solve your problem?

[2019-06-24 12:54] kocsismate commented on #86
@Vivenco I've just realized that you are talking about the `Hydrator` (and not about transformers)! Sorry for confusion, I'll have a look at the issue as soon as I have some spare time.

[2019-07-16 11:27] Doqnach opened #87 "Feature request: InfoDocument support"
I am looking for a way to define a pure "info" document. Easiest would be to create a base class that implements `DocumentInterface`, but all the `WoohooLabs\Yin\JsonApi\Response\Responder::ok<...>()` methods require a `ResourceDocumentInterface`.

So this left me with two options: create an `InfoDocument` that implemented `ResourceDocumentInterface` and somehow work around the methods that you ha

[2019-07-22 14:32] Doqnach opened #88 "How to hydrate a POST request with multiple resources"
Given the following JSON:API payload for a POST request:

[code]

How do you correctly hydrate this?

[code]

The problem being the above call ends up treating `$request->getResource()` as a single resource (see `CreateHydratorTrait::hydrateForCreate()`), even though this is multiple...

There is no "CreateBooks" example (https://github.com/woohoolabs/yin/blob/master/examples/Book/Action/CreateBoo

[2019-08-13 17:43] kocsismate commented on #87
Hi @Doqnach,

Sorry, I am totally out of bandwidth this summer. :( I'll try to read through this feature request and the other question you had as soon as I'll have some spare time.

[2019-08-29 13:44] Doqnach commented on #88
Right now I'm using this workaround... which is very ugly.

[code]

[2019-09-19 10:35] Doqnach commented on #88
I actually re-read the spec, and found the following:

https://jsonapi.org/format/#crud-creating

With the emphasis on '_single_ resource'.

So this explains also why Yin does not support the above behaviour... it is following the spec.

https://discuss.jsonapi.org/t/alternative-ways-to-update-multiple-objects/952/2

[2019-09-19 11:13] kocsismate commented on #88
Hey @Doqnach ,

Yes, you are right! The JSON:API spec doesn't currently support modifying multiple resources in one request. There is a very early issue filed for this, but the details are still not finalized: https://github.com/json-api/json-api/issues/795.

[2019-09-19 11:20] Doqnach commented on #88
Since this is intended behaviour by the spec, even though I disagree with the spec 😛 , I will close this issue.

[2019-09-19 11:20] #88 closed, assigned to nobody

[2019-09-19 11:32] kocsismate commented on #78
Hi @ruudboon

I wouldn't really like to remove the PSR interfaces from composer.json, but fortunately there is a workaround for your problem, which is mentioned in the readme of the extension: https://github.com/jbboehr/php-psr#using-with-composer

Would it work for you?

[2019-09-19 12:05] ruudboon commented on #78
That's how I solved it now so fine by me. In this case I would implement this myself as a suggested package but it's up to you. Thnx.

[2019-09-19 12:05] #78 closed, assigned to nobody

[2019-11-10 18:13] samijnih opened #92 "Content-Type and Accept headers not really under domain validation"
https://github.com/woohoolabs/yin/blob/eae175718f66ff1c1e77d69847449a310541bd8e/src/JsonApi/Request/JsonApiRequest.php#L136

I've just found that this line above is not working as it should.

According to the official documentation:

You are testing that the returned value is equal to `0` but it should be equal to `1`.

This mistake makes my API not returning HTTP code 415 and 406 on bad headers a

[2019-11-25 20:08] kocsismate commented on #92
Hey @samijnih, As per my understanding of the spec, `fuck it`, and `fuck this too` are perfectly valid media types. Quoting the related parts of the specification:

All this means is that servers are not obliged to return an error, unless the `application/vnd.api+json` is present in (at least) one of headers and it is modified with a parameter other than `profile`.

[2019-11-29 22:02] samijnih commented on #92
Hi @kocsismate

Thanks for taking time.

First of all from my understanding of the spec, it's about *Client Side Responsabilities* to send `Content-Type` with the JSON API media type.

I think it should be cool to get at least a 415 HTTP code in case you don't give `application/vnd.api+json` like in the screenshots above from my postman about the *client* request headers.

What do you think?

[2019-11-29 22:13] samijnih commented on #92
I'm very confused because actually your regex does not let me just put `Content-Type: application/vnd.api+json` without specifying a profile.

I have done that in your method to get negotiate work with or without a profile.

[code]

The spec does not treat about returning a 415 http code in case you don't give any profile and so, your regexp does not allow me to just give the json api media type f

[2019-12-23 16:16] Doqnach opened #93 "Using validateJsonBody() before getResource() makes request body empty"
**What did I do?**

Using `qpautrat/woohoolabs-yin-bundle`, which provides `JsonApi $jsonApi`, in Symfony:

[code]

**What did I expect to happen:**
Outputs the "data":
[code]

**What actually happens:**
[code]

**Workaround:**
[code]

The cause here is in `WoohooLabs\Yin\JsonApi\Negotiation\RequestValidator::validateJsonBody()` doing:
[code]
This is called without deserializing the body `Stream`

[2019-12-29 14:52] kocsismate commented on #92
You can implement this in your application, but doing so at the framework level would cause problems for anybody who wants to strictly follow the specification.

Unfortuantely, I don't exactly get what you wrote. Could you please elaborate? Anyway, what I can tell for sure is that `application/vnd.api+json` is a valid JSON:API content type. Just have a look at it in the tests: https://github.com/w

[2019-12-29 15:11] kocsismate commented on #93
Hi @Doqnach ,

Thanks for the report, it certainly is a bug.

Yin unfortunately can't use the deserializer in this case because we are trying to provide error (debug) information about a possibly malformed JSON content. However, the problem could be mitigated by doing something similar in `RequestValidator::validateJsonBody()` to what is done by `JsonSerializer`: https://github.com/woohoolabs/yin/

[2019-12-30 09:29] Doqnach commented on #93
That looks like a good solution to me!
I tried the rewind at some points in the code but that wasn't yet giving me the right behaviour yet, so hopefully doing it at that point in the above way will solve it.

[2019-12-30 09:51] kocsismate commented on #93
I believe it will help :) So I'm releasing a new version now.

[2019-12-30 09:51] #93 closed, assigned to nobody

[2020-02-24 21:24] samijnih commented on #92
@kocsismate my point is if I call `negotiate`, I'm expecting an exception to be raised or a 415 response code if I don't give `application/vnd.api+json` for *Content-Type* like on my first screenshots

[2020-06-23 14:09] hiqsol opened #95 "Problem with recursive relations"
I have mutually related entities: tariff plan includes prices and price has reference to the tariff plan..

And when converting a plan with prices to JsonApi I receive error:

`Maximum function nesting level of '500' reached, aborting! in /app/vendor/woohoolabs/yin/  src/JsonApi/Schema/Relationship/AbstractRelationship.php`

This issue is related to #67 but it is not the same. I've already solved

[2020-07-01 07:09] ettoredn opened #96 "AbstractLinks::transform() generates invalid "prev" / "next" links"
`AbstractLinks::transform()` sets "prev" and "next" to `null` when there is only one page in the result set. This does not pass JSON:API schema validation.

For instance, the following response does not pass schema validation:
[code]

This is probably a problem with the spec itself that mandates each link be either a string or an object with `href` and `meta`, while at the same time stating that a

[2020-07-01 07:12] ettoredn commented on #96
https://github.com/json-api/json-api/issues/887

[2020-07-01 09:19] Ilyes512 opened #97 "Incorrect encoding of (pagination) query parameters"
I believe this is is incorrect:

[code]

The above method called with `foobar` and `10` results in: `page%5Bcursor%5D%3Dfoobar&page%5Bsize%5D%3D10`.

As you can see it also encodes the `=`. I think using `http_build_query` ([doc](https://www.php.net/manual/en/function.http-build-query.php)) might be the solution instead? Do you agree?

Source: https://github.com/woohoolabs/yin/blob/master/src/Json

[2020-07-07 10:46] kocsismate commented on #96
@ettoredn Yes, you're right, the problem is with the spec itself.

[2020-07-17 06:44] Art4 opened #98 "Throw Exception if 'data' and 'errors' coexist in the request body"
Hello and thank you for this great library.

I have noticed a behavior that is against the JSON:API spec.

The top level document could contain a `data` or `errors` attribute, but both MUST NOT coexist in the same document. See https://jsonapi.org/format/1.0/#document-top-level
While this is never the case in the response, it can also occur in the request.

**What I do:**

As an example let one se

[2020-07-19 18:46] kocsismate commented on #98
@Art4 Thank you very much for reporting the issue! I can confirm, this validation is currently missing from the library. I'll implement it in the following week(s), but you can also do so if you are up to prepare a PR. :)

[2020-07-19 19:06] Art4 commented on #98
I'm Glas if I Gould

[2020-07-19 19:12] Art4 commented on #98
I'm glad if I could help with a PR but I need a little help for the right place to implement. I also assume we would need a new exception class?

[2020-07-20 21:09] kocsismate commented on #98
Right! Additionally, a new `RequestValidator::validateBody()` method should throw it by using the `ExceptionFactoryInterface`. :)

[2020-07-26 09:15] kocsismate commented on #95
@hiqsol Can you tell me why a price includes a plan as a relationship? By the first look, this relationship makes sense only the other way around for me.

Nevertheless, you can define valid relationships via the `ResourceInterface::getRelationships()` method, so
even if your objects have recursive relations, you can do the following:
- you add `price` as a relationship in  `PlanResource::getRelati

[2020-08-30 14:07] #98 closed, assigned to nobody

[2020-10-13 11:57] SamMousa opened #99 "Add support for PSR-17 Http factory"
Instead of passing in a response object the `JsonApi` class should use a `HttpFactoryInterface` to generate the response if and when it is needed.

This will break backwards compatibility and will require minor code changes from library consumers.

[2020-12-02 09:14] Ilyes512 opened #100 "Error in createResourceIdInvalidException"
The DefaultExceptionFactory::createResourceIdInvalidException method contains an error.

[code]
Source: https://github.com/woohoolabs/yin/blob/master/src/JsonApi/Exception/DefaultExceptionFactory.php#L163-L169

The method clearly wants to receive the $id value, but when we look at the `ResourceIdInvalid`-exception class you can see it wants the type of the id instead. When given a incorrect id (fo

[2020-12-02 10:02] kocsismate commented on #100
Thank you very much for the report! I'll have a look at it in the following days.

[2020-12-06 10:20] kocsismate commented on #100
I fixed the issue in master by following your first suggestion. I believe this solution has the advantages of
- being less of a BC break
- being the correct thing to do, and the other similar `DefaultExceptionFactory` methods should follow this change in the next major version

I'll release a new patch version as soon as you confirm that the commit fixed your issue.

[2020-12-06 10:22] #95 closed, assigned to nobody

[2020-12-06 10:48] kocsismate commented on #92
Yeah, I see what you want, however this is against the specification. I remember that there used to be issues in the past when people wanted to explore a JSON:API directly from browsers which by default send the `Accept: text/html`. If I implemented your feature request, this would be impossible to do from now on.

However, as a workaround, you could provide your custom implementation for `Request

[2020-12-06 10:48] #92 closed, assigned to nobody

[2020-12-06 12:05] #97 closed, assigned to nobody

[2020-12-06 12:06] kocsismate commented on #97
Thanks for the report! I added the referenced commit to fix the issue. Please confirm that it works for you, and I'll release it in v 4.2.0.

[2020-12-06 12:23] #96 closed, assigned to nobody

[2020-12-06 12:24] kocsismate commented on #96
Since I'm not going to backport fixes for the official schema, I've just added an optional constructor parameter for `ResponseValidator` to be able to provide a custom schema path which potentially has upstream fixes.

[2020-12-06 12:35] kocsismate commented on #99
I'm not convinced this change would bring much benefit, while adding a new dependency to the project, and taking away the choice from users whether they want to use PSR-17 or not.

If I'm not mistaken, one could just use `HttpFactoryInterface` to instantiate the response before passing it to `JsonApi`. Or do you see any use-case when the above solution would work suboptimally?

[2020-12-07 01:17] samijnih commented on #92
It's good for me. I don't wanna break the official spec :) :+1:

[2020-12-07 09:04] SamMousa commented on #99
The downsides to this use-case are the generic downsides of passing in an object to library code and hoping to get it back. So nothing is specific to this library.
This article lists some downsides for the middleware using PSR-7 Response objects: https://blog.ircmaxell.com/2016/05/all-about-middleware.html. Some of them will apply to this case as well.

For example, currently if I pass a response

[2021-01-15 10:42] Ilyes512 commented on #97
I finally took the time to go through all of the unreleased changes :) (sorry for taking so long):

- [#98](https://github.com/woohoolabs/yin/issues/98): Support for validating top-level members in requests
  - I added this to my middleware and noticed my GET requests breaking... fixed by also checking the request method is either one of POST, PUT, PATCH or DELETE.
- [#96](https://github.com/wooho

[2021-01-15 16:00] Ilyes512 commented on #100
Looks good! See https://github.com/woohoolabs/yin/issues/97#issuecomment-760832036

[2021-01-15 16:00] #100 closed, assigned to nobody

[2021-01-15 20:32] kocsismate commented on #97
Thanks for the idea, I certainly forgot about checking the method. However, I went with checking for the methods that shouldn't have a body (`get`, `head`, `delete`) so that validation isn't performed in such cases.

[2021-01-15 20:37] kocsismate commented on #98
Hmm, perhaps a more conformant implementation would be to check if there is a body in the request at all. This would ensure that GET et al. requests still work, while it wouldn't make it impossible to receive post requests without a body (which are not necessarily JSON:API documents).

[2021-01-15 20:38] Ilyes512 commented on #97
The problem is, that there are more (less popular?) methods that exist... for example Symfony uses the following list:

[code]

Source: https://github.com/symfony/http-foundation/blob/5.x/Request.php#L55-L64

That's why I chose to whitelist instead of blacklist because I know I want to do the check for those methods.

[2021-01-15 20:43] kocsismate commented on #97
Ah, in the meanwhile I posted another comment, but in the linked issue (deleted since then), so I re-post it here:

[2021-01-15 20:49] Ilyes512 commented on #97
At first that was what I wanted to do, but there was no hasBody() and was not really sure if that was the way to go anyways.

[2021-01-24 07:10] Ilyes512 opened #101 "Parsed body always contains an empty array when using Symfony requests"
So first of.. I am using Symfony HttpFoundation requests (actually Laravel's request class, but that is just a child class of the Symfony request). So, I use the library in combination with [psr-http-message-bridge](https://github.com/symfony/psr-http-message-bridge) to get Psr requests.

With this [commit](https://github.com/woohoolabs/yin/commit/0817ab3e2e6c0de17a56c2b3e18ac8b59873d9eb) you adde

[2021-01-24 19:00] kocsismate commented on #101
ah, I had a suspicion that the emptiness check was added at some point as a workaround for some library's non-standard behaviour... I wouldn't have thought that it's Symfony.  But I don't get what the point is of initializing the parsed body to `[]` when in fact there is no body?

Nevertheless, let's try to come up with a solution for your problem:
- I could go with checking the methods instead (w

[2021-01-27 22:57] samijnih commented on #101
Hello!

I have this issue too so I had to rollback to 4.1.2 atm

[2021-01-28 08:51] #101 closed, assigned to nobody

[2021-01-28 08:51] kocsismate commented on #101
@samijnih I've just reverted that particular change which caused the trouble. Sorry for the inconvenience! I'll release it as soon as CI is green.

[2021-01-29 00:05] samijnih commented on #101
@kocsismate ty :)

Hope that we found a solution! :)

[2021-02-23 15:59] Art4 opened #103 "Missing data in response if using omitDataWhenNotIncluded"
I have found a potential bug with omitDataWhenNotIncluded and relationships.

In the examples there is a UserResource, see https://github.com/woohoolabs/yin/blob/4.2.1/examples/User/JsonApi/Resource/UserResource.php#L120

The user resource has a contacts relationship that data is set with `setDataAsCallable()` and `omitDataWhenNotIncluded()`.

If I call the example url `/users/1/relationships/cont

[2021-03-10 16:32] Ilyes512 opened #104 "Passing the DomainObject to the validateRequest() method of the hydrator class"
I am about to create my own hydrator base class so I can get my hands on the current DomainObject when validating. I was wondering if this made sense, and if so, if you would except a merge request for it?

So the change would mainly be made here: https://github.com/woohoolabs/yin/blob/master/src/JsonApi/Hydrator/UpdateHydratorTrait.php#L107-L108 I will pass the `$domainObject`-var to the `$this->

[2021-03-23 22:51] Ilyes512 commented on #104
So I made a fork and made the changes needed to solve my current issue: https://github.com/woohoolabs/yin/compare/master...signet-connectivity:pass-object-to-validator

I guess its a backwards incompatible change. I could solve this without making these changes, but I would have to copy/paste some of the trait methods.

I think in the end that it's hard to extend/reuse `AbstractHydrator` because o

[2021-03-23 22:53] kocsismate commented on #104
Hi @Ilyes512

Sorry for not not replying so long. I'll carve out some free time for Yin this week so that I can look into the open tickets.

[2021-03-23 22:55] Ilyes512 commented on #104
No problem :) BTW, I am also no a 100% sure if this is the way to go.

[2021-03-30 08:05] kocsismate commented on #104
Can you please tell me why the `$domainObject` is needed for validation? Does it have more information besides the data from the request?

Regarding the BC impact, I have a possible idea: we could add a new `UpdateHydratorTrait::validateDomainObject()` method which would be called after request validation. I like this idea because request validation was separated from the object validation this wa

[2021-03-30 08:16] kocsismate commented on #103
Hi @Art4

Hmm, yes, it seems like an issue indeed, thanks for bringing it up! Are you up for providing a PR or would you prefer if I did so?

[2021-03-30 08:48] Art4 commented on #103
I tried to create a PR but I struggled at finding a solution. If you know how this can be fixed I would prefer you create a PR.

[2021-03-30 08:57] kocsismate commented on #103
I think I know what should be changed. :) I'll have a look.

[2021-03-30 09:28] Ilyes512 commented on #104
Yes. So what I have is an entity that has 2 attributes, `limit` and `maxLimit`. Users are able to adjust `limit` between 0 and `maxLimit`. Where `maxLimit` is different for each entity (dynamic), but not configurable by the user (it is set and updated by another service).

Regarding your solution... I think that will work in my case. First check that the received `limit` is an int and higher than

[2021-04-02 21:21] kocsismate commented on #103
I've added https://github.com/woohoolabs/yin/commit/6a4284b86cc25bee7151075f8b5e5c79f5b3ca29 - please test if it works for you (p.s. I accidentally added the release date, it's not yet done)

[2021-04-02 21:23] kocsismate commented on #104
Thanks for the quick answers!

My idea is to run `validateDomainObject()` after it has been hydrated

[2021-04-02 21:53] kocsismate commented on #104
I added https://github.com/woohoolabs/yin/commit/e55ee84346a9c29689117fd8839ed28ed361c97d. Can you please test it?

[2021-04-07 21:54] Ilyes512 commented on #104
Yes! I tested this out on my actual problem... and it works for my case :).

Just one remark (cause now it wouldn't be backwards imcompatible). Maybe also pass the `JsonApiRequestInterface $request` to `validateDomainObject`. I don't have a case now where I would need the request, but if something is in the request, but it's not in the DomainObject... maybe I this is a step to far ¯\_(ツ)_/¯

To me

[2021-04-12 14:37] kocsismate commented on #104
Huh, although I think it's really a bit too much of overengineering, I'm ok to add it (e.g. `CreateHydratorTrait::validateClientGeneratedId()` already does something similar). And I've just realized that the Exception Factory should be added as well. Unfortunately, I missed to add it to `validateRequest()` (or maybe it has a reason I forgot). However, as I've already started to work on v5.0, I'm g

[2021-04-14 14:27] Art4 commented on #103
Thank you very much. I hope I will get the time to test it this weekend.

[2021-04-20 11:07] kocsismate commented on #104
I've just release 4.3.0 including the validation of the domain object. :)

[2021-04-20 11:07] #104 closed, assigned to nobody

[2021-04-20 11:08] kocsismate commented on #103
I've released 4.3.0 in the meanwhile, but please come back to me should you find any issues with the implementation.

[2021-04-20 11:08] #103 closed, assigned to nobody

[2021-04-24 08:52] Art4 commented on #103
I've tested this issue with 4.3.0 and can confirm that this bug is fixed. Thank you very much. :+1:

[2021-07-29 20:15] QassaDevelopers opened #105 "[PHP8] Method ReflectionParameter::getClass() is deprecated"
In the `HydratorTrait` class, the method `getArgumentTypeHintFromCallable` triggers a PHP deprecation notice:

[code]

According to the [PHP docs](https://www.php.net/reflectionparameter.getClass), the `getType()` method is recommended. This method may return a [`ReflectionNamedType`](https://www.php.net/manual/en/class.reflectionnamedtype.php) or a [`ReflectionUnionType`](https://www.php.net/manu

[2021-07-29 20:19] QassaDevelopers commented on #105
To clarify: something like this would work (needs null checks etc):
`$arguments[1]->getType()->getName()`

but I am not sure how to behave when the `getType()` is a `ReflectionUnionType`. What should the classname be in that case? Or is a union typehint simply not allowed (supported)?

[2021-07-30 08:51] kocsismate commented on #105
Hi!

Thanks for the report, I've just added a new commit to the 5.0 branch: https://github.com/woohoolabs/yin/commit/ae6ba421c631948b8c0ec286d8d55b35527692f2

Neither `ReflectionUnionType`, nor `ReflectionIntersectionType` (a new PHP 8.1 feature) is allowed.

[2021-07-30 08:56] QassaDevelopers commented on #105
Hi!

Thanks for the quick reply and thanks for fixing it! Issue resolved afaic.

[2021-07-30 08:56] #105 closed, assigned to nobody

[2022-11-01 04:33] ArrayIterator opened #108 "Data Transformer array_merge problem"
https://github.com/woohoolabs/yin/blob/346041a6cd8442e22ea4b9999f453bbb96e7a03b/src/JsonApi/Transformer/DocumentTransformer.php#L77

Document transformer [transformMetaMembers()](https://github.com/woohoolabs/yin/blob/346041a6cd8442e22ea4b9999f453bbb96e7a03b/src/JsonApi/Transformer/DocumentTransformer.php#L70) will reset array keys to increment value / integer when meta contains numeric `float|int

[2022-11-26 19:22] kocsismate commented on #108
Thanks for the report! It is a valid problem, and I agree with the suggested fix. Do you want to provide a fix?

[2022-11-27 15:04] ArrayIterator commented on #108
Just pull small codes as I can.

https://github.com/woohoolabs/yin/pull/110

[2022-11-28 07:55] #108 closed, assigned to nobody